.popup-box {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.popup-box .popup {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    width: 100%;
    max-width: 425px;
    justify-content: center;
    transform: translate(-50%, -50%);

}

.popup-box, .popup {
    opacity: 0;
    pointer-events: none;
    transition: all 0.25s ease;
}

.popup-box.show, .popup-box.show .popup {
    opacity: 1;
    pointer-events: auto;
}

.popup .content {
    border-radius: 5px;
    background: #fff;
    width: calc(100% - 15px);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    padding-top: 8px;
}

.content div .row {
    margin-bottom: 20px;
}

.content header {
    display: flex;
    flex-direction: row;
    padding: 7px 0px;
    border-bottom: 1px solid #333;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

#pop_close{
    padding: 10px;
    border-radius: 50%;
    /* border: 1px solid #3333333b; */
    /* height: 13px; */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding-top: 10px;
}


@media only screen and (max-width: 530px) {
    .popup-box .popup {
      max-width: 320px;
    }
  }