body {
  color: #444;
  margin: 0.5em auto;
  max-width: 40em;
  padding: 0 .62em;
  font-size: 1.125em;
  line-height: 1.62em;
  font-family: "IBM Plex Mono", monospace;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}






/* GLOBAL CHANGES in ELEMENTS */
p {
  font-size: medium;
  line-height: normal;
  margin-bottom: 5px;
}

b {
  line-height: normal;
}

form {
  width: 90%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input[type=password],
input[type=text] {
  font-family: "IBM Plex Mono", monospace;
  font-size: 1rem;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  padding-top: 5px;
  padding-bottom: 5px;
}

input[type=button],
input[type=submit],
button {
  display: inline-block;
  border: 1px solid #ced4da;
  font-size: 1rem;
  font-family: "IBM Plex Mono", monospace;
  border-radius: .25rem;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #444;
  color: white;
  cursor: pointer;
}

strong {
  font-size: 16px;
}

.li-icon {
  padding-right: 10px;
  padding-top: 4px;
  font-size: 14px;
}






/* TRADEMARK */
h1 {
  font-weight: 400;
  margin-block-end: 0.07em;
}

.desc {
  margin-top: 10px;
  font-weight: 200;
  margin-bottom: 25px;
}

/* SIDE OPEN/NEW BUTTONS */
.inline-div {
  position: absolute;
  display: inline-block;
  top: 24px;
  right: 0;
}

.inline-buttons {
  cursor: pointer;
  background-color: transparent;
  color: #444;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
}


/* CHANGING DEFAULT BUTTON */
.welcome-buttons {
  cursor: pointer;
  background-color: transparent;
  color: #444;
  margin-bottom: 10px;
}




/* STYLING FOR ALL FORMS */

.get-started-div {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

#new_paper_form,
#open_paper_form {
  display: none;
}

#only_password_form {
  width: 70%;
}

/* DOCUMENT/PAPER EDITOR */
#paper_doc,
textarea {
  font-family: "IBM Plex Mono", monospace;
  margin-bottom: 6px;
  margin-top: 10px;
  width: 100%;
  resize: none;
  padding: 10px;
  font-size: 1rem;
  line-height: 25px;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

#paper-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  width: 101%;
  padding: 0.3em;
}

#toast {
  display: flex;
  position: absolute;
  font-size: smaller;
  bottom: 60px;
  background-color: antiquewhite;
  padding: 3px;
  border-radius: .25rem;
  padding-left: 10px;
  text-align: center;
  padding-right: 10px;
  text-decoration: solid;
  transform: scale(0);
  transform-origin: bottom;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
  transition: transform 0.4s ease;
}

#toast.show{
  transform: scale(1);
  transition: transform 0.4s ease;
}

.menu-btn {
  position: relative;
}

.menu {
  margin: 0;
  z-index: 10000;
  bottom: 50px;
  right: 0;
  list-style: none;
  padding: 0;
  background: white;
  position: absolute;
  border-radius: 4px;
  transform: scale(0);
  transform-origin: right bottom;
  transform-style: flat;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s ease-in-out;
}

.menu-btn.show .menu {
  transform: scale(1);
}

.menu-btn .menu li {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  list-style: none;
  font-size: 16px;
  margin-bottom: 2px;
  padding: 9px 15px;
  cursor: pointer;
  box-shadow: none;
  border-radius: 0;
  justify-content: flex-start;
  transition: transform 1s ease-in-out;
  /* border-bottom: 1px solid #ced4da; */
}

.menu-btn .menu li:hover {
  transition: 0.2s ease-in-out;
  background-color: rgba(0, 0, 0, 0.049);
}

.field {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.submit-field {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: end;
  width: 25%;
}


.open-field {
  display: flex;
  flex-direction: column;
  border: 1.5px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  padding: 15px;
}

.open-field-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
}

#recovery-option {
  font-size: 13px;
  font-weight: 500;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}


#save-button {
  display: none;
}



hr {
  width: 100%;
  margin-top: 30px;
  color: #ced4da;
  border-color: #ced4da3f;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  margin-right: 15px;
}


.dev {
  font-size: 12px;
  margin-top: 0;
  font-weight: 500;
}









/* MEDIA QUERIES FOR MOBILE AND TABLET AS SIMPLE AS THAT */
@media only screen and (max-width: 650px) {
  h1 {
    font-size: 1.7em;
  }

  p {
    font-size: small;
  }

  .inline {
    top: 18px;
  }
  label {
    font-size: medium;
  }

  .inline-div {
    top: 18px;
}

}
@media only screen and (max-width: 350px) {
  .phone-invisible{
    display: none;
  }
}