<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>PaperDisk</title>
  <meta name="description" content="A text-storage service to store and access your writings">
  <meta name="keywords" content="PasteBin, Free, Dwijottam Dutta">
  <!-- <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename='apple-touch-icon.png')}}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='favicon-32x32.png')}}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='favicon-16x16.png')}}" /> -->
  <meta name="theme-color" content="rgb(18, 18, 18)" />
  <meta property="og:title" content="PaperDisk by DJ DWAZZ" />
  <meta property="og:description" content="A text-storage service to store and access your writings" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
  <link rel="icon" type="image/png" href="{{url_for('static', filename='paperdisk.png')}}" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet">
</head>

<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}"/>

<body>
  {% block content %} {% endblock %}

  <hr>
  <footer>
    <p class="dev">Made by <a href="https://dwijottam-dutta.github.io">@Dwijottam Dutta</a></p>
  </footer>

</body>

<script>
  function EDITING_TURNED_ON() {
    document.getElementById("form-button").style.display = "none";
    document.getElementById("save-button").style.display = "block";
    document.getElementById("paper_doc").disabled=false;
  }

  function SYNC() {
    alert("Your document will be synced with the new changes made on other devices (if any)")
    location.reload()
  }

  function OPEN_PAPER(){
    paper_code = prompt("Enter your Paper ID, of the Paper you want to access: ")
    if (paper_code != null) {
      if (paper_code.trim() != "") {
        location.href = `/paper/${paper_code}`
      }
    }
  }

  function NEW_PAPER() {
    try {
      document.querySelectorAll(".info")[0].style.display = "none"
      document.querySelectorAll(".inline")[0].style.display = "inline-block"
      document.getElementById("new_paper").style.display = "flex"
    } catch (error) {
      location.href = '/'
    }
  }


  function download() {
    var element = document.createElement('a');

    text = document.getElementById("paper_doc").value

    element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
    element.setAttribute('download', "paperdisk-data-encoded");

    element.style.display = 'none';
    document.body.appendChild(element);

    element.click();

    document.body.removeChild(element);
  }
</script>

</html>