<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>PaperDisk</title>
  <meta name="description" content="A simple text-storage service for storing and accessing your documents. You only gotta create a storage disk, and start using it as your vault for storing as much as text documents(a.k.a Paper) in the Virtual Disk">
  <meta name="keywords" content="PasteBin, Free, Dwijottam Dutta">
  <!-- <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename='apple-touch-icon.png')}}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='favicon-32x32.png')}}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='favicon-16x16.png')}}" /> -->
  <meta name="theme-color" content="rgb(18, 18, 18)" />
  <meta property="og:title" content="PaperDisk" />
  <meta property="og:description" content="A text storage service for storing and accessing your documents by Dwijottam Dutta" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
  <link rel="icon" type="image/png" href="{{url_for('static', filename='paperdisk.png')}}" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet">
</head>

<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
<link rel="stylesheet" href="{{url_for('static', filename='popup-box.css')}}" />

<body>
  <div class="main">
    <div style="width: 95%; position: relative;">

      <h1>PaperDisk</h1>

      <p class="desc">A txt-storage service for storing your documents (paper)</p>

      {% if content %}
        <div class="inline-div">
          <button class="inline-buttons" type="button" onclick="LOGOUT()"><b>Log Out </b><i class="fas fa-sign-out-alt"></i></button>
        </div>
      {% else %}
        <div class="inline-div">
          <button href="/logout" class="inline-buttons" type="button" onclick="OPEN_DISK()"><i class="fas fa-sign-in-alt"></i> <b>Log In</b></button>
          <!-- <button class="inline-buttons" type="button" onclick="NEW_PAPER()"><i class="far fa-plus-square"></i></button>
          <button class="inline-buttons" type="button" onclick="OPEN_PAPER()"><i class="far fa-folder-open"></i></button> -->
        </div>
      {% endif %}

    </div>

    {% block content %} {% endblock %}

  </div>

  <hr>
  <footer>
    <p class="dev">Made by <a href="https://dwijottam-dutta.github.io">Dwijottam Dutta</a></p>
  </footer>

</body>
<script src="{{url_for('static', filename='app.js')}}"></script>

<script>
  TOAST("{{alert}}")
</script>

</html>