{% extends '$index.html' %}
{% block content %}

  <!-- NAVIGATION FORM -->
   <div class="basic-instruction">
    <hr style="width: 70px;margin-top: 0px;">
      <p style="font-size: smaller;margin-top:30px;text-align: center;">Forget about hectic cloud storage services, for document storage.<br><b>-</b><br> Store your documents (a.k.a <i>Paper</i>) in <i>virtually</i> on <i>Cloud</i>, just by a 4-digit code and a strong password, that's it!! <br><b>-</b><br>More <i><u>stronger</u></i> password, more <i><u>safe</u></i> and <i><u>secure</u></i> your Disk becomes<br><b>-</b><br>
   </div>
  <div class="get-started-div">
    <button class="welcome-buttons" type="button" onclick="NEW_PAPER()"><i class="fas fa-hdd"></i> <b>Create Disk</b></button>
    <!-- <p style="font-size: small;margin-top: 2px;">[A disk has limit of holding unlimited papers, but it may glitch sometimes]</p> -->
  </div>


  <!-- NEW PAPER FORM -->
  <form method="POST" id="new_disk_form">
    <!-- <textarea name="paper" rows="15" placeholder="Your typing space.." data-provide="markdown" required></textarea> -->

    <label><i class="fas fa-hdd"></i> <b> Create Disk</b></label>
    <hr style="width: 24px;margin-top: 17px;">
    <div class="field">
      <div class="fields">
        <b>Disk ID:</b>
        <i style="font-size: medium;">[4-digit]</i>
        <a class="a_btn" style="padding-top: 3px;padding-bottom: 3px;text-decoration: none;" href="/premium"><i class="fas fa-wrench"></i></a>
      </div>
      <div class="fields">
        <b>Password:</b>
        <input placeholder=">_" type="password" name="password" minlength="8"
          title="Make sure to remember your password for editing and accessing your paper" required>
      </div>
      <div class="fields">
        <b>Author:</b>
        <input placeholder="John" type="text" name="owner" minlength="8"
          title="Owner of this Disk">
      </div>

      <div class="submit-field">
        <input type="submit" value="Create" id="button">
      </div>

    </div>
  </form>


  <!-- OPEN PAPER FORM   --  COMING SOON-->
  <form id="open_disk_form">

    <div class="open-field">

      <b style="padding-bottom: 8px;"><i class="far fa-hdd"></i> Disk ID:</b>
      <input placeholder="XXXX" type="text" name="paper" id="paper_code_open_button" maxlength="4" minlength="4" title="Enter your Paper ID" required>
      <div class="open-field-button">
        <input type="submit" value="Open">
      </div>
      <p id="recovery-option">Forgot Disk ID? <a href="/recover-paper">Try Recovery</a></p>

    </div>


  </form>

{% endblock %}