{% extends '$index.html' %} 
{% block content %}

<div class="main">
    <div style="width: 95%; position: relative;">
      <h1>PaperDisk</h1>
      <p style="font-weight: 200; margin-bottom: 25px;">A text-storage service to store and access your paper (documents)</p>
      <div class="inline" style="display: none;">
        <button class="inline-buttons" type="button" onclick="NEW_PAPER()"><i class="far fa-plus-square"></i></button>
        <button class="inline-buttons" type="button" onclick="OPEN_PAPER()"><i class="far fa-folder-open"></i></button>
      </div>
    </div>

    <!-- NAVIGATION FORM -->
    <div class="info">
      <button class="welcome-buttons" type="button" onclick="NEW_PAPER()"><i class="fas fa-file-signature"></i> Create Paper</button>
      <button class="welcome-buttons" type="button" onclick="OPEN_PAPER()"><i class="fas fa-folder-open"></i> Open Paper</button>
    </div>


    <!-- NEW PAPER FORM -->
    <form method="POST" id="new_paper" class="form-invisible">
      <textarea name="paper" rows="15" placeholder="Your typing space.." data-provide="markdown" required></textarea>

      <div class="field">

        <div class="password-field">
          <b>Password:</b>
          <input placeholder=">_" type="password" name="password" minlength="8"
            title="Make sure to remember your password for editing and accessing your paper" required>
        </div>

        <div class="submit-field">
          <input type="submit" value="Upload" id="button">
        </div>

      </div>
    </form>


    <!-- OPEN PAPER FORM   --  COMING SOON-->
    <form method="GET" id="open_paper" class="form-invisible">

    </form>
  </div>

{% endblock %}