{% extends '$index.html' %}
{% block content %}

<div class="main">
  <div style="width: 95%; position: relative;">
    <h1>PaperDisk</h1>
    <p class="desc">A text-storage service to store and access your paper (documents)</p>
  </div>
  <form method="POST" id="only_password_form">
    <p>> Paper ID: <b>{{code}}</b> <</p>
    <b style="margin-top: 20px;">Password:</b>
    <input type="password" name="password" placeholder=">_" minlength="8"
      title="Make sure to remember your password for accessing your paper" style="width: 70%;" required>
    <input type="submit" value="Continue" style="margin-top: 10px;">

    <p id="recovery-option">Forgot Password of Paper? <a href="/recover-paper">Try Recovery</a></p>

    {% if error %}
    <p style="margin-top: 20px;">Wrong Password</p>
    {% endif %}
  </form>

</div>


{% endblock %}