{% extends '$index.html' %} {% block content %}

<form method="POST" id="only_password_form">
  <p style="font-size: medium; margin-top:5px;">Log in <b>-></b> Paper ID: <b><u>{{code}}</u></b></p>
  <b style="margin-top: 20px">Password:</b>
  <input
    type="password"
    name="password"
    placeholder=">_"
    minlength="8"
    title="Make sure to remember your password for accessing your paper"
    style="width: 70%"
    required
  />
  <input type="submit" value="Continue" style="margin-top: 5px" />

  <p id="recovery-option">
    Forgot Password of Paper? <a href="/recover-paper">Try Recovery</a>
  </p>

  {% if error %}
  <p style="margin-top: 20px">Wrong Password</p>
  {% endif %}
</form>

{% endblock %}
