{% extends '$index.html' %} 
{% block content %}

  <div class="main">
    <div style="width: 95%; position: relative;">

      <h1>PaperDisk</h1>

      <p class="desc">A text-storage service to store and access your paper (documents)</p>

      <div class="inline-div">
        <button class="inline-buttons" type="button" onclick="NEW_PAPER()"><i class="far fa-plus-square"></i></button>
        <button class="inline-buttons" type="button" onclick="OPEN_PAPER()"><i class="far fa-folder-open"></i></button>
      </div>

    </div>

    <form action="/paper={{code}}/update" method="POST">
      <p>> Paper Id: <b>{{code}}</b> < </p>
      <textarea id="paper_doc" name="paper" rows="15"
        placeholder="Type your text here in this paper..." disabled="disabled" required
        >{{content}}</textarea>

        <div id="form-button">
          <button type="button" onclick="EDITING_TURNED_ON()"><i class="fas fa-pen-nib"></i> Edit</button>
          <button type="button" onclick="download()"><i class="fas fa-download"></i></button>
          <button type="button" onclick="SYNC()"><i class="fas fa-sync"></i> Sync</button>
        </div>

        <input type="submit" value="Save" id="save-button">

      <p style="margin-top: 40px;"><i class="fas fa-exclamation-circle"></i> Make sure you remember, the <b>Paper Id</b> & <b>Password</b> of this paper</p>
    </form>
  </div>

  {% endblock %}