{% extends '$index.html' %} {% block content %}

<form action="/paper={{code}}/update" method="POST">
  
  <textarea id="paper_doc" name="paper" rows="15" placeholder="Type your text here in this paper..." disabled="disabled" required>{{content}}</textarea>

  <div id="toast">You can now edit your paper</div>

  <div id="paper-nav">

    <label>Paper ID: <b>{{code}}</b></label>
    <div>

      <button type="button" class="inline-buttons" id="edit-button" onclick="EDITING_TURNED_ON()">
        <i class="fas fa-pen-nib"></i> <b class="phone-invisible">Edit</b>
      </button>

      <button type="submit" class="inline-buttons" id="save-button">
        <i class="far fa-save"></i> <b class="phone-invisible">Save</b>
      </button>

      <button type="button" class="inline-buttons menu-btn" onclick="SHOWMENU(this)">
        <i class="fas fa-ellipsis-v"></i>

        <ul class="menu">
          <li type="button" onclick="PRINT()">
            <i class="fas fa-print li-icon"></i> <strong>Print</strong>
          </li>

          <li type="button" onclick="download()">
            <i class="fas fa-download li-icon"></i> <strong>Download</strong>
          </li>

          <li type="button" onclick="SYNC()">
            <i class="fas fa-sync li-icon"></i> <strong>Sync</strong>
          </li>

          <li type="button" onclick="DETAILS()">
            <i class="fas fa-info-circle" style="padding-right: 10px;"></i> <strong>Details</strong>
          </li>
        </ul>

      </button>
    </div>
  </div>

  <input type="submit" value="Save" id="save-button" />

  <!-- <p style="margin-top: 40px">
    <i class="fas fa-exclamation-circle"></i> Make sure you remember, the
    <b>Paper Id</b> & <b>Password</b> of this paper
  </p> -->
</form>

{% endblock %}
