{% extends '$index.html.jinja' %} 

{% block title %} <title>PaperDisk - Disk ID: {{code}}</title> {% endblock %}

{% block content %}

<form action="/id={{code}}&paper={{buffer}}/update" method="POST">

  <div class="nav">
    <div id="add_btn" class="btn"><i class="fas fa-plus"></i></div>

    {% if count > 1 %}
    <div id="del_btn" class="btn"><i class="far fa-trash-alt"></i></div>
    {% endif %}

    <div class="slider">
      {% if buffer != 0 %}
      <a id="back" class="a_btn"><i class="fas fa-chevron-left"></i></a>
      {% endif %}

      <div id="number"><i class="far fa-file-alt"></i> <b>Paper #{{buffer}}</b></div>

      {% if buffer != count-1 %}
      <a id="forward" class="a_btn"><i class="fas fa-chevron-right"></i></a>
      {% endif %}
    </div>
  </div>
  <textarea id="paper_doc" name="paper" rows="15" placeholder="Type your text here in this paper..." disabled="disabled"
    required>{{content}}</textarea>

  <div id="toast">You can now edit your paper</div>
  <div id="spray" onclick="paperdisk.theme.set('pale')"><i class="fas fa-spray-can"></i></div>

  <div id="paper-nav">

    <label>Disk ID: <b>{{code}}</b></label>
    <div>



      <button type="button" class="inline-buttons" id="edit-button" onclick="EDITING_TURNED_ON()">
        <i class="fas fa-pen-nib"></i> <b class="phone-invisible">Edit</b>
      </button>
      <button type="submit" class="inline-buttons" id="save-button">
        <i class="far fa-save"></i> <b class="phone-invisible">Save</b>
      </button>



      <button type="button" class="inline-buttons menu-btn" onclick="SHOWMENU(this)">
        <i class="fas fa-ellipsis-v"></i>

        <ul class="menu">
          <li type="button" onclick="PRINT()">
            <i class="fas fa-print li-icon"></i> <strong>Print</strong>
          </li>

          <li type="button" onclick="download()">
            <i class="fas fa-download li-icon"></i> <strong>Download</strong>
          </li>

          <li type="button" onclick="SYNC()">
            <i class="fas fa-sync li-icon"></i> <strong>Sync</strong>
          </li>

          <li type="button" onclick="DETAILS()">
            <i class="far fa-question-circle" style="padding-right: 10px;"></i> <strong>Details</strong>
          </li>

        </ul>

      </button>
    </div>
  </div>

  <input type="submit" value="Save" id="save-button" />
</form>

<div class="popup-box">
  <div class="popup">
    <div class="content">
      <header>
        <label style="font-size: 23px; font-weight: 500;"><i class="far fa-hdd"></i> Details</label>
        <div id="pop_close"><i class="fas fa-times"></i></div>
      </header>
      <div>
        <div class="row">
          <label><i class="far fa-file-alt"></i> Name: </label>
          <label><b>{{disk_name}}</b></label>
        </div>
        <div class="row">
          <label><i class="fas fa-fingerprint"></i> Disk ID: </label>
          <label><b><u>{{code}}</u></b></label>
        </div>
        <div class="row">
          <label><i class="far fa-folder-open"></i> Papers: </label>
          <label><b>{{count}} documents</b></label>
        </div>
        <div class="row">
          <label><i class="far fa-calendar-alt"></i> Created on: </label>
          <label><b>{{date}}</b></label>
        </div>
        <div class="row">
          <label><i class="fas fa-user-tie"></i> Author: </label>
          <label><b>{{owner}}</b></label>
        </div>
        <div class="row">
          <label><i class="fas fa-history"></i> Modified: </label>
          <label><b>{{updated}} times</b></label>
        </div>
        <div class="row">
          <label><i class="fas fa-at"></i> Email: </label>
          <i>{{recemail}}</i>
        </div>
        <div class="row">
          <label><i class="fas fa-trash-restore"></i> Recovery ID: </label>
          <u style="font-size: small;">{{recid}}</u>
        </div>
      </div>
    </div>
  </div>
</div>


</div>
{% endblock %}


{% block script %} 
<script src="{{url_for('static', filename='js/paper.js')}}"></script>
<script>

  paperdisk.toast("{{alert}}")
  function download() {
      var element = document.createElement("a");

      text = document.getElementById("paper_doc").value;

      element.setAttribute(
          "href",
          "data:text/plain;charset=utf-8," + encodeURIComponent(text)
      );
      element.setAttribute("download", "Paper #{{buffer}}");

      element.style.display = "none";
      document.body.appendChild(element);

      element.click();

      document.body.removeChild(element);

      paperdisk.toast("Downloaded Successfully", alert);
  }


  // ADDING PAPER IN DISK REQUEST
  document.getElementById("add_btn").addEventListener("click", function (event) {
      event.preventDefault();
      fetch("/id={{code}}&paper={{buffer}}/add", {
          method: "POST",
          body: "",
          headers: {
              "Content-type": "application/json; charset=UTF-8"
          }
      })
          .then(response => response.text())
          .then((response) => {
              if (response == "success") {
                  location.href = "/id={{code}}&paper={{buffer+1}}"
              }
              else {
                  alert("Unexpected Error occured while adding paper")
              }
          })
  });


  // DELETING PAPER IN DISK REQUEST
  document.getElementById("del_btn").addEventListener("click", function (event) {
      event.preventDefault();
      alert("Deleting Paper from a disk is permanent, and can't be recovered!!")
      confirm = prompt("If you still want to delete, then enter the Disk ID, to confirm its you: ")
      if (confirm == "{{code}}") {
          fetch("/id={{code}}&paper={{buffer}}/delete", {
              method: "POST",
              body: "",
              headers: {
                  "Content-type": "application/json; charset=UTF-8"
              }
          })
              .then(response => response.text())
              .then((response) => {
                  if (response == "success") {
                      location.href = "/id={{code}}&paper=0"
                  }
                  else {
                      alert("Unexpected Error occured while adding paper")
                  }
              })
      }
      else {
          alert("Enter valid details.")
      }
  })



  try {
      document.getElementById("forward").addEventListener("click", function (event) {
          event.preventDefault();

          window.location.replace("/id={{code}}&paper={{buffer+1}}")

      })
  }
  catch (e) {
      console.log(e)
  }

  try {
      document.getElementById("back").addEventListener("click", function (event) {
          event.preventDefault();

          window.location.replace("/id={{code}}&paper={{buffer-1}}")

      })
  }
  catch (e) {
      console.log(e)
  }
</script>
{% endblock %}